@mixin text-gradient {
  background: $color-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin media($status, $size) {
  @media screen and (#{$status}-width: #{$size}px) {
	@content;
  }
}

@mixin hover {
  @media (any-hover: hover) {
	@content;
  }
}

@mixin size($width, $height) {
  width: #{$width};
  height: #{$height};
}

@mixin adaptive-holder($width, $height, $position: relative) {
  display: block;
  position: #{$position};
  height: 0;
  padding-bottom: calc($height / $width * 100%);
}

@mixin adaptive-image($fit: cover) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: $fit;
}
@mixin flex($align, $justify, $gap) {
  display: flex;
  flex-wrap: wrap;
  align-items: #{$align};
  justify-content: #{$justify};
  gap: #{$gap};
}

@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: #{$columns};
  grid-gap: #{$gap};
}

@mixin bgImage($repeat, $position, $size, $url) {
  background-repeat: #{$repeat};
  background-position: #{$position};
  background-size: #{$size};

  @if $url {
    background-image: url(#{$url});
  }
}

@mixin imgMask($url) {
  mask-image: url(#{$url});
  mask-size: contain;
  mask-repeat: no-repeat;
}

@mixin adaptive-height { // добавить к блоку с высотой экрана, чтобы учесть все возможные сайдбары и строку поиска
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}