// colors
$color-black: #1a1c18;
$color-black-main: #2e3a4c;
$color-white: #ffffff;
$color-green: #71be38;
$color-green-light: #d9f8c2;
$color-green-dark: #58a122;
$color-pink: #ffeaf2;
$color-pink-light: #fdf2f8;
$color-purple: #ca4592;
$color-blue: #1098f7;
$color-red: #c02b23;
$color-outline: #6f797b;
$color-outline-variant: #bfc8cb;
$color-surface-variant: #dbe4e7;
$color-bg: #f8f7f7;
$color-error: #ba1a1a;
$color-inverse-on-surface: #eff1f2;

// font-family
$font-default: "RobotoFlex", Arial, sans-serif;

// transition
$transition: 0.3s ease;
$transition-long: 0.7s ease;
