/node_modules
/public/build
/public/hot 
/public/vendor
/storage/framework/sessions/*
/public/storage
public/assets/twill/*
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/ 
npm-debug.*
Thumbs.db
