.password-toggle-icon {
  @include size(46px, 100%);
  position: absolute;
  right: 0;
  top: 0;
  //@include bgImage(no-repeat, center, 26px, '../../img/image/eye-closed.png'); add your img
  transition: $transition;
  cursor: pointer;
  &--hide{
	//background-image: url(../../img/image/eye.png); add your img
  }
}