mixin counter(counterData)
    .counter(data-counter-box="")
        span.count.count--minus(data-counter="minus") -
        input.input(value=counterData.value data-counter-min=counterData.value data-counter-max=counterData.max data-counter-input="input")
        span.count.count--plus(data-counter="plus") +
