mixin nav(classes)
  nav.nav&attributes(classes)
    ul.nav__list
      li.nav__item
        a.nav__link(href="#") Каталог
      li.nav__item
        a.nav__link(href="#") О нас
      li.nav__item
        a.nav__link(href="#") Оплата и доставка
      li.nav__item
        a.nav__link(href="#") Контакты
      li.nav__item
        a.nav__link(href="#") Корпоративным клиентам
