extends /template/template
include /blocks/heading/heading

block mainwrapper

  +heading({
    breadcrumbs: ["О нас"],
    text: "Рыбатекст поможет дизайнеру сгенерировать несколько абзацев",
    class: "heading--small-banner",
    bg: "heading-small-pic.jpg"
  })

  .page

    .section
      .container
        .content
          p Рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          h2 Рыбатекст поможет дизайнеру
          p Рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. Рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. Рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          h3 Рыбатекст поможет дизайнеру
          figure
            .video.video--overlay(data-video-wrap)
              img(src="img/image-content/about-pic.jpg", alt="" data-video-preview)
              iframe(width='560' height='315' src='https://www.youtube.com/embed/nH7N1ggIveE' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='' data-video)
              button.play-button(data-video-play)
                svg
                  use(href=`#icon-play`)
            figcaption Примечание к видео: Рыбатекст поможет дизайнеру сгенерировать несколько абзацев
          p Рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          p Например:
          ul
            li Рыбатекст поможет дизайнеру;
            li Рыбатекст поможет дизайнеру;
            li Рыбатекст поможет дизайнеру;
          p Или же:
          ol
            li Рыбатекст поможет дизайнеру.
            li Рыбатекст поможет дизайнеру.
            li Рыбатекст поможет дизайнеру.
            li Рыбатекст поможет дизайнеру.
          span Посмотрите: #[a(href="#") ссылка]
          blockquote Рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          h2 Рыбатекст поможет дизайнеру
          figure
            img(src="img/image-content/about-pic.jpg", alt="")
            figcaption Примечание к фотографии: Рыбатекст поможет дизайнеру сгенерировать несколько абзацев
          p Рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
