mixin social(classes)
  .social&attributes(classes)
    a.social__item(href="#" target="_blank")
      svg.social__icon(width="18" height="15")
        use(href='#icon-vk')
    a.social__item(href="#" target="_blank")
      svg.social__icon(width="10" height="18")
        use(href='#icon-telegram')
    a.social__item(href="#" target="_blank")
      svg.social__icon(width="20" height="16")
        use(href='#icon-whatsapp')
