
.modal(data-modal="login" data-form-wrapper="login" data-form="login")
  .modal__heading
    .modal__title
      span Вход
    .modal__close(data-modal-close="")
  .modal__container
    form.form.invalid(data-validate-form="" data-form-body="")
      .fields
        .inputholder.form__inputholder
          label.inputholder__label(data-default-label) Логин
          input.inputholder__input(type="text" placeholder="Email или номер телефона" data-required="")
        .inputholder.form__inputholder
          label.inputholder__label(data-default-label) Пароль
          input.inputholder__input(type="password" placeholder="·············" data-required="" data-text-error="password")
          .link-button.forgot-password-button(data-modal-open="password-recovery") Забыли пароль?
      .form__buttonholder
        .buttonholder(data-form-trigger="")
          button.form__button.button.button--green.button--full-width(disabled="" data-form-button="")
            span Войти
        .button.button--purple.button--full-width(data-modal-open="registration")
          span Зарегистрироваться
      span.form__policy.policy Нажимая на кнопку, вы соглашаетесь на  #[a.policy__link(href="#") обработку персональных данных]
