
.modal(data-modal="password-recovery-request" data-form-wrapper="password-recovery-request" data-form="password-recovery-request")
  .modal__container
    form.form.invalid(data-validate-form="" data-form-body="")
      .modal__heading
        .modal__title
          span Восстановление пароля
        .modal__close(data-modal-close="")
      .fields
        .inputholder.form__inputholder
          label.inputholder__label(data-default-label) Пароль из письма
          input.inputholder__input(type="password" placeholder="·············" data-required="" data-text-error="passwordLetter")
      .form__buttonholder(data-form-trigger="")
        button.form__button.button.button--green.button--full-width.submit-button(disabled="" data-form-button="")
          span Отправить
      span.form__policy.policy Нажимая на кнопку, вы соглашаетесь на  #[a.policy__link(href="#") обработку персональных данных]
      .link-button.link-button--center.login-button(data-modal-open="login") Войти по email / номеру телефона
