
.modal(data-modal="notification-not-available")
  .modal__container
    .modal__heading
      .modal__title
        span Товара нет в наличии
      .modal__close(data-modal-close="")
    .modal__content
      .modal__text
        p Один из товаров в вашей корзине закончился. Перед оформлением заказа удалите его из корзины
