
.modal(data-modal="catalog")
  .container
    .modal__heading
      .modal__title
        span Каталог
      .modal__close(data-modal-close="")
    .modal__container
      .modal__category
        .modal__category-heading(data-category-open)
          .modal__category-title По цене
          svg.arrow
            use(href="#icon-arrow-menu")
        .modal__category-list__wrap(data-category)
          .modal__category-list__heading
            .modal__category-return(data-category-close)
              .arrow-return
                svg
                  use(href="#icon-arrow-return")
              span.modal__category-return__title По цене
            .modal__category-close.modal__close(data-modal-close="")
          ul.modal__category-list
            li.modal__category-list__item
              a.modal__category-list__link(href="#") до 1000
            li.modal__category-list__item
              a.modal__category-list__link(href="#") 1000 — 1500
            li.modal__category-list__item
              a.modal__category-list__link(href="#") 1500 — 2000
            li.modal__category-list__item
              a.modal__category-list__link(href="#") 2000 — 2500
            li.modal__category-list__item
              a.modal__category-list__link(href="#") 2500 — 3000
            li.modal__category-list__item
              a.modal__category-list__link(href="#") 3000 — 5000
            li.modal__category-list__item
              a.modal__category-list__link(href="#") от 5000
      .modal__category
        .modal__category-heading(data-category-open)
          .modal__category-title По цветам
          svg.arrow
            use(href="#icon-arrow-menu")
        .modal__category-list__wrap(data-category)
          .modal__category-list__heading
            .modal__category-return(data-category-close)
              .arrow-return
                svg
                  use(href="#icon-arrow-return")
              span.modal__category-return__title По цветам
            .modal__category-close.modal__close(data-modal-close="")
          ul.modal__category-list
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Альстромерия
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Подсолнух
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Амариллис
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Ранункулюс
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Анемон
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гвоздика
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза Вувузела
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Орхидея Фаленопсис
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гвоздика кустовая
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза Эквадор
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гербера мини
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза кустовая
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гиацинт
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза кустовая пионовидная
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Хризантема кустовая
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гипсофила
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза пионовидная
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гортензия
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Орхидея Ванда
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Калла
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Тюльпан
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Орхидея Цимбидиум
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Лаванда
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Тюльпан пионовидный
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Лилия
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Хлопок
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Нарцисс
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Хризантема Антонов
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Ромашка
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза Пинк Охара
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Ирис
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Хризантема Момоко
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Пион
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Эустома
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Пион Сара Бернар
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гербера
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Сирень
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Хризантема одноголовая
      .modal__category
        .modal__category-heading(data-category-open)
          .modal__category-title По цветам
          svg.arrow
            use(href="#icon-arrow-menu")
        .modal__category-list__wrap(data-category)
          .modal__category-list__heading
            .modal__category-return(data-category-close)
              .arrow-return
                svg
                  use(href="#icon-arrow-return")
              span.modal__category-return__title По цветам
            .modal__category-close.modal__close(data-modal-close="")
          ul.modal__category-list
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Альстромерия
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Подсолнух
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Амариллис
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Ранункулюс
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Анемон
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гвоздика
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза Вувузела
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Орхидея Фаленопсис
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гвоздика кустовая
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза Эквадор
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гербера мини
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза кустовая
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гиацинт
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза кустовая пионовидная
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Хризантема кустовая
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гипсофила
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза пионовидная
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гортензия
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Орхидея Ванда
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Калла
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Тюльпан
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Орхидея Цимбидиум
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Лаванда
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Тюльпан пионовидный
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Лилия
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Хлопок
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Нарцисс
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Хризантема Антонов
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Ромашка
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Роза Пинк Охара
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Ирис
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Хризантема Момоко
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Пион
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Эустома
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Пион Сара Бернар
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Гербера
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Сирень
            li.modal__category-list__item
              a.modal__category-list__link(href="#") Хризантема одноголовая
