
.modal(data-modal="notification-added-to-cart")
  .modal__container
    .modal__image-wrap
      img.modal__image(src="img/image-content/product-pic.jpg", alt="")
    .modal__content
      .modal__title
        span Добавлено в корзину
      .modal__text
        p В корзину была добавлена 1 позиция
