
.modal(data-modal="password-recovery-new" data-form-wrapper="password-recovery-new" data-form="password-recovery-new")
  .modal__container
    form.form.invalid(data-validate-form="" data-form-body="")
      .modal__heading
        .modal__title
          span Восстановление пароля
        .modal__close(data-modal-close="")
      .fields
        .inputholder.form__inputholder
          label.inputholder__label(data-default-label) Новый пароль
          input.inputholder__input(type='password' placeholder='·············' data-required='' data-password-recovery='' data-text-error="passwordLength")
        .inputholder.form__inputholder
          label.inputholder__label(data-default-label) Новый пароль еще раз
          input.inputholder__input(type='password' placeholder='·············' data-required='' data-equal='data-password-recovery' data-text-error="passwordEqual")
      .form__buttonholder(data-form-trigger="")
        button.form__button.button.button--green.button--full-width.change-password-button(disabled="" data-form-button="")
          span Изменить пароль
      span.form__policy.policy Нажимая на кнопку, вы соглашаетесь на  #[a.policy__link(href="#") обработку персональных данных]
      .link-button.link-button--center.login-button(data-modal-open="login") Войти по email / номеру телефона
    .modal__thanks(data-form-thanks="")
      .modal__heading
        .modal__title
          span Ваш пароль успешно изменен
        .modal__close(data-modal-close="")
      .modal__text
        p При следующей авторизации потребуется ввод нового пароля.
      button.button.button--green.button--full-width.go-to-personal-button(data-modal-open="login") Войти в личный кабинет
