.overlay(data-overlay="")
include modal--login
include modal--registration
include modal--registration-confirm
include modal--password-recovery
include modal--password-recovery-request
include modal--password-recovery-new
include modal--invoice-payment
include modal--catalog
include modal--city
include modal--city-confirm
include modal--notification-added-to-cart
include modal--notification-not-available
include modal--personal-confirm-changes
include modal--cart-region
include modal--leave-review
include modal--rate-checkout
include modal--delivery-area
include modal--delivery-no-address
