
.modal(data-modal="delivery-no-address")
  .modal__heading
    .modal__title
      span Внимание!
    .modal__close(data-modal-close="")
  .modal__container
    .modal__text
      p За заказ без адреса взимается фиксированная оплата, она будет включена в сумму заказа.
      p Заказ может быть отменен, если адрес доставки будет за пределами зоны доставки.
    .button.button--green.button--full-width.close-button(data-modal-close="") Принимаю
