extends /template/template
include /blocks/heading/heading
include /blocks/product/product

block mainwrapper

  +heading({
    breadcrumbs: ["Каталог", "Букет “Летнее ассорти”"],
  })

  .page

    .section
      .container
        .product-detail
          .slider.slider--product-detail
            span.product-detail__label Акция
            .swiper(data-swiper="product-detail")
              .swiper-wrapper
                a.swiper-slide(href="img/image-content/product-detail-pic.jpg" data-fancybox)
                  img.product-detail__image(src="img/image-content/product-detail-pic.jpg", alt="")
                  .zoom-button
                    svg
                      use(href="#icon-zoom")
                a.swiper-slide(href="img/image-content/product-detail-pic.jpg" data-fancybox)
                  img.product-detail__image(src="img/image-content/product-detail-pic.jpg", alt="")
                  .zoom-button
                    svg
                      use(href="#icon-zoom")
                a.swiper-slide.swiper-slide--video(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox)
                  img.product-detail__image(src="img/image-content/product-detail-pic.jpg", alt="")
                  button.play-button
                    svg
                      use(href=`#icon-play`)
              button.swiper-button-prev.swiper-button-prev--white(data-swiper="product-detail-button-prev")
                svg
                  use(href="#icon-arrow-slider")
              button.swiper-button-next.swiper-button-next--white(data-swiper="product-detail-button-next")
                svg
                  use(href="#icon-arrow-slider")
            .swiper-pagination.swiper-pagination--darkgrey(data-swiper="product-detail-pagination")
          .box.box--no-margin.box--padding-40.box--padding-mobile-30.box--border-radius-36
            .product-detail__info
              .product-detail__info-top
                span.product-detail__vendor-code Артикул: FWC11005
                span.product-detail__price 5000 р.
                .product-detail__delivery
                  svg.product-detail__delivery-icon
                    use(href=`#icon-car`)
                  span.product-detail__delivery-title Доставка:
                  span.product-detail__delivery-value 350 р.
              .product-detail__composition
                span.product-detail__composition-title Состав букета:
                .product-detail__composition-content
                  .composition-item
                    span.composition-item__title пионы
                    span.composition-item__quantity 5 шт.,
                  .composition-item
                    span.composition-item__title розы
                    span.composition-item__quantity 3 шт.,
                  .composition-item
                    span.composition-item__title астры
                    span.composition-item__quantity 5 шт.,
                  .composition-item
                    span.composition-item__title ромашки
                    span.composition-item__quantity 9 шт.,
                  .composition-item
                    span.composition-item__title орхидеи
                    span.composition-item__quantity 5 шт.
                button.link-button.change-composition-button(data-modal-open="change-composition")
                  span.link-button__title Изменить состав букета
                  svg.link-button__icon
                    use(href="#icon-gear")
                include /blocks/modal/modal--change-composition
              .product-detail__discount-wrap
                .product-detail__discount
                  svg.product-detail__discount-icon
                    use(href="#icon-discount")
                  span.product-detail__discount-title Доступна скидка
                .product-detail__discount-condition
                  span.product-detail__discount-condition__title Скидка дается при добавлении (на выбор):
                  span.product-detail__discount-condition__content
                    span пионы
                    span 7 шт.,
                    span розы
                    span 3 шт.,
                    span астры
                    span 5 шт.
              button.button.button--green.button--width-165.add-to-cart-button В корзину

    .section
      .container
        h2 Описание
        .content
          p Конфеты - таблетки «На случай влюблённости» Крем-мёд «Любовий»: с клубникой Чай чёрный I love u вкус лесные ягоды Шоколад молочный «All you need is love» Шоколад молочный "С днём святого Валентина” Шоколадное печенье «С тобой моя жизнь стала слаще» Карамельная трость Коробка «Любовь» Открытка «P.S I love you» Лента атласная «Love» Набор конвертов «Открой, когда…»
          table
            thead
              tr
                td № п/п
                td Название параметра
                td Название другого параметра
                td Название еще одного параметра
                td Название четвертого параметра
            tbody
              tr
                td 1.
                td 100
                td 100
                td Рыбатекст поможет дизайнеру сгенерировать несколько абзацев
                td 100
              tr
                td 2.
                td 100
                td 100
                td Рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                td 100
              tr
                td 3.
                td 100
                td 100
                td Значение
                td 100
              tr
                td 4.
                td 100
                td 100
                td Значение
                td 100

    .section
      .container
        h2 Смотрите также
        .slider.slider--products
          .swiper(data-swiper="products")
            .swiper-wrapper
              .swiper-slide
                +product({
                  image: "product-pic.jpg",
                  title: 'Букет из цветных мини гербера',
                  promo: true
                })
              .swiper-slide
                +product({
                  image: "product-pic.jpg",
                  title: 'Розы 15 штук Кения рыжие N28447',
                  promo: true
                })
              .swiper-slide
                +product({
                  image: "product-pic.jpg",
                  title: 'Полевой букет с ромашками',
                })
              .swiper-slide
                +product({
                  image: "product-pic.jpg",
                  title: 'Горшок -органайзер "Голова" белый, 1,3 л',
                })
              .swiper-slide
                +product({
                  image: "product-pic.jpg",
                  title: 'Букет из цветных мини гербера',
                })
              .swiper-slide
                +product({
                  image: "product-pic.jpg",
                  title: 'Розы 15 штук Кения рыжие N28447',
                })
              .swiper-slide
                +product({
                  image: "product-pic.jpg",
                  title: 'Полевой букет с ромашками',
                })
              .swiper-slide
                +product({
                  image: "product-pic.jpg",
                  title: 'Горшок -органайзер "Голова" белый, 1,3 л',
                })
          button.swiper-button-prev.swiper-button-prev--black(data-swiper="products-button-prev")
            svg
              use(href="#icon-arrow-slider")
          button.swiper-button-next.swiper-button-next--black(data-swiper="products-button-next")
            svg
              use(href="#icon-arrow-slider")
