.map.map--no-touch(data-map-overlay="")
    .map__holder(data-map="" data-map-icon="https://texterra.ru/favicon.svg" data-map-coords="55.809786, 38.989092" data-map-icon-caption="ул. Ленина, 99, Орехово-Зуево" data-map-balloon="<p>ул. Ленина, 99, Орехово-Зуево<br>Время работы: 9:00 - 18:00</p>")

script(src="//api-maps.yandex.ru/2.1/?apikey=81a95670-5dc1-4279-80ad-57d55af43ea1&lang=ru_RU")
