extends /template/template
include /blocks/heading/heading

block mainwrapper

  +heading({
    breadcrumbs: ["Личный кабинет"],
  })

  .page

    .main-cols__wrap
      .container
        .side-col
          .box.box--padding-20
            ul.sidenav
              li.sidenav__item
                a.sidenav__link(href="#")
                  span.sidenav__link-title Персональные данные
              li.sidenav__item
                a.sidenav__link(href="#")
                  span.sidenav__link-title История заказов
              li.sidenav__item
                a.sidenav__link.active(href="#")
                  span.sidenav__link-title Сменить пароль
              li.sidenav__item
                a.sidenav__link(href="#")
                  span.sidenav__link-title Сменить E-mail
              li.sidenav__item
                a.sidenav__link(href="#")
                  span.sidenav__link-title Выйти
                  svg.sidenav__link-icon
                    use(href="#icon-logout")

        .main-col
          .personal

            .section
              .change-password(data-form-wrapper="change-password" data-form="change-password")
                .box
                  form.form.invalid(data-validate-form="" data-form-body="")
                    .fields.fields--gap-20-30
                      .inputholder.form__inputholder
                        label.inputholder__label(data-default-label) Старый пароль*
                        input.inputholder__input.inputholder__input--width-half(type="password" placeholder="·············" data-required="" data-text-error="password")
                      .inputholder.inputholder--width-half.form__inputholder
                        label.inputholder__label(data-default-label) Новый пароль*
                        input.inputholder__input(type='password' placeholder='·············' data-required='' data-password-recovery='' data-text-error="passwordLength")
                      .inputholder.inputholder--width-half.form__inputholder
                        label.inputholder__label(data-default-label) Повторите новый пароль*
                        input.inputholder__input(type='password' placeholder='·············' data-required='' data-equal='data-password-recovery' data-text-error="passwordEqual")
                    .form__buttonholder(data-form-trigger="")
                      button.form__button.button.button--green.submit-button(disabled="" data-form-button="")
                        span Сохранить данные
