.content {
  max-width: 910px;
  padding: 0 20px;
  h2,
  .h2,
  h3,
  .h3,
  figure,
  blockquote {
    &:not(:first-child) {
      margin-top: 40px;
      @include media(max, 767) {
        margin-top: 30px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 40px;
      @include media(max, 767) {
        margin-bottom: 30px;
      }
    }
  }
  h2,
  .h2,
  h3,
  .h3 {
    padding-left: 0;
    padding-right: 0;
  }
  p,
  span,
  ol li,
  ul li {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25;
  }
  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  ol,
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &:not(:first-child) {
      margin-top: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  ol {
    counter-reset: numList;
    li {
      display: flex;
      gap: 8px;
      &::before {
        content: counter(numList) ".";
        counter-increment: numList;
        display: block;
        font-size: 18px;
        color: $color-purple;
      }
    }
  }
  ul {
    li {
      padding-left: 18px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        width: 6px;
        height: 6px;
        background-color: $color-purple;
        border-radius: 1px;
      }
    }
  }
  blockquote {
    font-size: 18px;
    padding: 20px 0 20px 19px;
    border-left: 4px solid $color-purple;
  }
  figure img,
  > img {
    border-radius: 12px;
  }
  figcaption {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: $color-outline;
    max-width: 640px;
    margin: 14px auto 0;
  }
  table {
    border-radius: 12px;
    overflow: hidden;
    @include media(max, 767) {
      display: block;
      overflow: auto;
    }
    &:not(:first-child) {
      margin-top: 30px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    thead {
      td {
        font-size: 18px;
        color: $color-outline;
        background-color: $color-inverse-on-surface;
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          td {
            background-color: $color-white;
          }
        }
        &:nth-child(even) {
          td {
            background-color: $color-inverse-on-surface;
          }
        }
      }
      td {
        font-weight: 300;
      }
    }
    td {
      text-align: center;
      padding: 25px 23px;
    }
  }
  a {
    color: $color-purple;
    @include hover {
      &:hover {
        color: #ae106c;
      }
    }
  }
}
