mixin banner__item(data)
  .swiper-slide
    .banner__item(style="background-image: url(img/image-content/banner-pic.jpg)")
      .container
        .banner__item-content
          span.banner__item-title Букеты с доставкой в Переяславле-Залесском
          .banner__item-text
            p Букеты с доставкой для различных поводов
